.el_btn {
  display: block;
  max-width: 220px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid currentColor;
  color: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: .1em;
  text-decoration: none;
  text-align: center;
}
@include mq("pc") {
  .el_btn {
    font-size: 15px;
  }
}

// 拡張パターン
.el_btn.el_btn__recruit {
  line-height: 1.5;
}

.el_link {
  color: $cBlack;
  font-size: 15px;
  letter-spacing: .05em;
  text-decoration: none;
  &.el_link__store {
    margin-left: 1px;
  }
  &.el_link__online {
    margin-left: -1px;
  }
}

@include mq("pc") {
  .el_link {
    &.el_link__store,
    &.el_link__online {
      margin-left: 0;
    }
  }
}
