<section class="bl_recruit_wrapper" style="background-image: url('./img/bg_recruit.jpg');">
  <div class="bl_recruit">
    <div class="bl_recruit_">
      <div class="bl_recruit_ttl">
        <h2 class="el_h2_01 el_h2_01__recruit">採用情報</h2>
        <h2 class="el_supplement">RECRUIT</h2>
      </div>
      <p class="bl_recruit_txt">
        KAGUの新卒・中途採用情報を掲載しております。<br>
        アルバイト情報についても掲載しております。
      </p>
      <a href="" class="bl_recruit_btn el_btn el_btn__recruit">採用情報一覧へ</a>
    </div>
  </div>
</section>