<footer class="bl_footer_wrapper">
    <div class="bl_footer">
        <div class="bl_footer_info">
            <figure class="bl_footer_figure">
                <img src="./img/logo_kagu_white.svg" alt="" class="bl_footer_img">
            </figure>
            <p class="bl_footer_company">株式会社KAGU</p>
            <p class="bl_footer_address">愛知県名古屋市〇〇区〇〇町 XX-X</p>
            <p class="bl_footer_tel">TEL. 052-000-0000</p>
        </div>
        <nav class="bl_footer_nav">
            
        </nav>
    </div>
</footer>

<!-- バンドル -->
<script src="./js/bundle.js"></script>